apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: "{{ ansible_operator_meta.namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: external-dns
  namespace: "{{ ansible_operator_meta.namespace }}"
rules:
- apiGroups: [""]
  resources: ["services","endpoints","pods"]
  verbs: ["get","watch","list"]
- apiGroups: ["extensions","networking.k8s.io"]
  resources: ["ingresses"] 
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: external-dns-viewer
  namespace: "{{ ansible_operator_meta.namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
- kind: ServiceAccount
  name: external-dns
  namespace: "{{ ansible_operator_meta.namespace }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: k8s.gcr.io/external-dns/external-dns:v0.7.3
        args:
{% for domain_filter in domain_filters %}
        - "--domain-filter={{ domain_filter }}"
{% endfor %}
        - --source=ingress
        - "--provider={{ provider }}"
        - --registry=txt
        - --txt-owner-id=my-identifier
{% if provider == "google" %}
        - "--google-project={{ google.project }}"
        env:
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /etc/secrets/service-account/credentials.json
        volumeMounts:
          - name: google-service-account
            mountPath: /etc/secrets/service-account/
      volumes:
        - name: google-service-account
          secret:
            secretName: google-credentials
            items:
            - key: credentials.json
              path: credentials.json
{% endif %}
{% if provider == "azure" %}
        - --azure-resource-group={{ azure.resource_group }}
        volumeMounts:
        - name: azure-config-file
          mountPath: /etc/kubernetes
          readOnly: true
      volumes:
      - name: azure-config-file
        secret:
          secretName: azure-config-file
{% endif %}